$brand_color: rgba(255, 159, 14, 1);
$brand_color_light: rgba(252, 182, 42, 1);
$primary_white: rgba(255, 255, 255, 1);
$secondary_color: rgba(131, 154, 169, 1);
$primary_dark: rgba(24, 24, 23, 1);

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
