.description-section {
  &__container {
    display: flex;
    align-items: center;
  }

  &__content {
    width: 640px;
    height: 393px;
    gap: 40px;
    margin-right: 100px;
    margin-left: 24px;
  }

  &__title {
    font-family: Rowdies;
    font-weight: 400;
    font-style: Regular;
    font-size: 56px;
    line-height: 100%;
  }

  &__text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 34px;
  }

  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__photo-food {
    position: relative;
    bottom: 70px;
  }
}
