.modal {
  width: 880px;
  height: 880px;
  border-radius: 32px;
  background: rgba(255, 250, 243, 1);
  padding: 140px;

  &__title {
    font-family: Rowdies;
    font-weight: 400;
    font-style: Regular;
    font-size: 56px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 16px;
  }

  &__text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 5%;
    text-align: center;
    vertical-align: middle;
    color: $secondary_color;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__form-icons {
    position: relative;
    top: 37px;
    left: 45px;
    background-color: transparent;
  }

  &__form-field {
    width: 600;
    height: 48px;
  }

  &__form-button {
    margin: 16px;
  }

  &__privacy-link {
    font-family: Roboto;
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: $secondary_color;
    text-decoration: none;
  }

  &__checkbox {
    display: flex;
    justify-content: center;
  }

  &__button-close {
    position: absolute;
    background-image: url(../images/btn-close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    top: 48px;
    right: 48px;
    cursor: pointer;
  }
}
