.services-section {
  position: relative;
  background-image: url(/images/services-bg.jpg);
  background-color: wheat;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 100px;
  height: 530px;
  &__title {
    @extend .description-section__title;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  &__list {
    display: flex;
    gap: 24px;
  }

  &__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #f9f9ff;
    width: 240px;
    height: 240px;
    border-radius: 16px;
    border-width: 1px;
    gap: 24px;
  }

  &__text {
    font-family: Roboto;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    color: $brand_color;
    margin: 0;
  }

  &__link {
    display: flex;
    align-items: end;
    margin: 0;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 5%;
    color: $brand_color;
    text-decoration: none;
    &:hover {
      transform: translateX(5px);
      transition: transform 0.3s ease;
    }
  }

  &__arrow {
    margin-bottom: 4px;
    margin-left: 8px;
  }

  &__img-arrow {
    position: absolute;
    right: 51px;
    top: -20px;
  }
}
