.button {
  opacity: 1;
  gap: 10px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  background-color: $brand_color;
  color: $primary_white;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  border-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $brand_color_light;
  }

  &__basket {
    background-color: transparent;
    border-color: transparent;
    margin-right: 6px;
  }
}

.button:disabled {
  background: #e0e0e0; /* сірий фон */
  color: #999; /* сірий текст */
  cursor: not-allowed;
  opacity: 0.6;
}
