.pagination {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 32px;
  &__button {
    display: block;
    width: 11px;
    height: 11px;
    background-color: $secondary_color;
    border-radius: 50%;

    &--active {
      background-color: $brand_color;
    }
  }
}
